<div class="text-center">
    <br />
    <div>
        <h2 style="color: red">
            Thanks For Creating An Account On Our Smart City Management
        </h2>
        <br />
        <h3 style="color: blue">Click The Bellow Link To Verify Your Account</h3>
        <br />
        <h4>
            <b>Confirmation Link :
                <a href="{{confirm_link}}" target="_blank" class="text-info"
                    style="text-decoration: none">{{confirm_link}}</a></b>
        </h4>
    </div>
</div>